[general]
ENVIRONMENT_NAME={{ APP_ENVIRONMENT_NAME }}
DEBUG={{ APP_DEBUG }}
SECRET_KEY={{ APP_SECRET_KEY }}
DB_NAME={{ APP_DB_NAME }}
DB_USER={{ APP_DB_USER }}
DB_PASSWORD={{ APP_DB_PASSWORD }}
DB_HOSTNAME={{ APP_DB_HOSTNAME }}
DB_PORT={{ APP_DB_PORT }}
STATIC_ROOT={{ APP_PATH }}/static/
STATIC_URL={{ APP_URL }}/static/
APP_PATH={{ APP_PATH }}
APPURL={{ APP_URL }}
APP_URL={{ APP_URL }}
APP_NAME={{ APP_NAME }}
DISABLE_SSL={{ APP_DISABLE_SSL }}
ALLOWED_HOSTS={{ APP_ALLOWED_HOSTS }}
LANGUAGE_CODE={{ APP_LANGUAGE_CODE }}
USE_CAS={{ APP_USE_CAS }}
{% if APP_CAS_SERVER_URL is defined and APP_CAS_SERVER_URL != '' %}
CAS_SERVER_URL={{ APP_CAS_SERVER_URL }}
{% endif %}
{% if APP_TEMPLATE_VARS_SRC is defined %}
TEMPLATE_VARS={{ APP_TEMPLATE_VARS }}
{% endif %}
{% if APP_TEMPLATE_DIR is defined and APP_TEMPLATE_DIR != '' %}
TEMPLATE_DIR={{ APP_TEMPLATE_DIR }}
{% endif %}
{% if APP_EXTRA_VARS is defined %}
{% for key, val in APP_EXTRA_VARS.items() %}
{{ key }}={{ val }}
{% endfor %}
{% endif %}
